<h1>Edit <%= link_to @item.name, "/merchant/items/#{@item.id}" %></h1>

<center>
  <%= render partial: 'item_partial', locals: {value: true, path: "/merchant/items/#{@item.id}", method: :patch, button: 'Update Item'  } %>
</center>
