<h1>Edit <%=link_to @item.name, "/items/#{@item.id}" %></h1>

<center>
  <%= render partial: 'item_partial', locals: {value: true, path: "/items/#{@item.id}", method: :patch, button: 'Update Item'  } %>
</center>
